[init]
	defaultBranch = main
[user]
	name = Springfield Yonga
	email = springfieldyonga@outlook.com
[rerere]
	enabled = true
[alias]
	ls-subtrees = git ls-subtrees log | grep git-subtree-dir | awk '{print $2}' | sort | uniq
[diff]
	tool = hunk
[difftool "hunk"]
	cmd = hunk difftool "$LOCAL" "$REMOTE" "$MERGED" --theme custom
	prompt = false
